---
import { CHANGE_TYPES } from "../../lib/repo.js";
---

<div class="filters" id="filters">
  {CHANGE_TYPES.map((type, i) => (
    <button class:list={["fpill", { active: i === 0 }]} data-f={type.key}>
      {i > 0 && <span class="d"></span>}
      {type.label}
    </button>
  ))}
</div>

<script>
  import "../../scripts/changelog-filters.js";
</script>
