---
const { title } = Astro.props;
---

<div class="code">
  <div class="code-bar"><span>{title}</span><button class="copy-btn">Copy</button></div>
  <pre><code><slot /></code></pre>
</div>

<script>
  import "../../scripts/code-copy.js";
</script>
